/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );
  font-family: 'Source Serif Pro', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

button {
  background-color: white;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: transform ease-in 0.1s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.05);
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.backBtn {
  border-radius: 30px;
  font-size: 20px;
  padding: 10px 12px;
}

.createOverlay {
  border-radius: 25px;
  font-size: 16px;
  margin: 10px 0;
}

.hideShowBtns {
  display: flex;
}

.homeTitle {
  font-family: 'Comfortaa';
  font-size: 40px;
}

.figmaImage {
  width: 34vh;
}

#file-selector {
  margin-bottom: 24px;
}

.fileSection {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 32px;
}

.opacityBtn {
  border-radius: 25px;
  font-size: 16px;
  margin-right: 10px;
}

.opacityBtn:last-child {
  margin-right: 0px;
}

.overlayBtn {
  font-size: 16px;
  margin-right: 10px;
}

.overlayPreview {
  width: 30vh;
}

.overlayUpload {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.resetButton {
  cursor: pointer;
}

#root {
  height: 100%;
  width: 100%;
}

.uploadInstructions {
  margin-top: 40px;
}

.wrapper {
  margin: 40px;
}
